:root {
  --primary-text-color: rgba(117, 117, 117);
  --title-text-color: rgb(33, 33, 33);
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.header-web {
  color: #2196f3;
}

.header-studio {
  color: #212121;
}

.list {
  list-style: none;
}

.team-list .link {
  text-decoration: none;
}

.section-title {
  color: var(--title-text-color);
}

.title {
  color: var(--title-text-color);
}

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  text-decoration: none;
}

.site-nav .link {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contacts-nav .list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.contacts-nav .link {
  text-decoration: none;
}

.contacts-nav .link:hover,
.conacts-nav .link:focus {
  color: var(--accent-color);
}

.works-list .link {
  text-decoration: none;
}

.works-list.link:hover,
.works-list.link:focus {
  color: var(--accent-color);
}

.works-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  color: var(--primary-text-color);
}

.works-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.works-button {
  font-weight: 500;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.7;
  text-align: center;
}

.text-hover {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
}

button {
  font-family: inherit;
}

button:hover,
button:focus {
  color: var(--accent-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: lightgreen;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}

.feature-list .title,
.wedo-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.contacts-nav .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: lightgreen;
}

.feauture-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.address-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-white-color);
  background-color: lightgreen;
}

.signature {
  font-weight: 500;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  background-color: blue;
}
